$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #242629;
}

th {
  white-space: nowrap;
}
/* Dropdown Button */
.dropbtn {
  font-family: 'Open Sans';
  background-color: #F1F1F1;
  border: none;
  border-radius: 10px;
  color: #0D263B;
  font-size: 14px;
  margin: 3px 0;
  padding: 5px 9px;
  box-shadow: 3px 3px rgba(0, 0, 0, .3);
  cursor: pointer;
}

#customButton {
  font-family: 'Open Sans';
  background-color: #F1F1F1;
  border: none;
  border-radius: 10px;
  color: #0D263B;
  font-size: 14px;
  margin: 3px 0;
  padding: 5px 9px;
  box-shadow: 3px 3px rgba(0, 0, 0, .3);
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #FAFAFA;
}

.main-wrapper {
  font-family: 'Open Sans';
  color: black;
  font-size: 18px;
  line-height: 1.6;
  margin: 15px auto;
  padding: -20px 10px 100px;
  text-align: center;
}

.logo {
  padding: 10px;
  float: left;
  display: inline;
  text-shadow: 3px 3px rgba(0, 0, 0, .3);
}

h1 {
  color: #FAFAFA;
  font-family: 'Orbitron';
  font-size: 64px;
}

h2 {
  color: #fafafa;
  font-family: 'Orbitron';
  font-size: 28px;
}

h3 {
  color: #4d4d4d;
  font-family: 'Orbitron';
  font-size: 20px;
}

.display {
  color: #216778;
  font-size: 24px;
  text-align: left;
}

.header {
  z-index: 100;
  background-color: #0D263B;
  padding: 20px;
  height: 200px;
  width: auto;
}

.login-status {
  text-align: right;
}

.previousOrderList {
  display: hidden;
}

.btn {
  font-family: 'Open Sans';
  background-color: #F1F1F1;
  border: none;
  border-radius: 10px;
  color: #0D263B;
  font-size: 14px;
  margin: 3px 0;
  padding: 5px 9px;
  box-shadow: 3px 3px rgba(0, 0, 0, .3);
}

.btn:hover {
  background-color: #FAFAFA;
  color: #0D263B;
}

.changePwError,
.greeting,
.signInError,
.signUpError {
  font-family: 'Orbitron';
  font-size: 16px;
  color: #0D263B;
  font-weight: 800;
}

.greeting {
  color: #FAFAFA;
}

.page-bottom {
  font-family: 'Open Sans';
  text-align: center;
  background-color: #0D263B;
  padding: 20px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-field,
input {
  border: 1px solid #0D263B;
  border-radius: 20px;
  padding: 6px;
}

label {
  font-family: 'Open Sans';
}

.pop-up-fields {
  border: 1px solid #216778;
}
@media (max-width: 400px) {
  .main-wrapper {
    margin: 0;
  }

  .display {
    font-size: 16px;
  }

  .login-status {
    padding: 10px 20px;
  }
}

.logged-in {
  display: none;
}

td {
  background-color: #FFFFFF;
  padding: 10px;
}

th {
  background: #0D263B;
  color: #EAEAEA;
}

table {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
  border: 4px solid #0D263B;
}

.dataTables_wrapper {
  clear: both;
  float: left;
  width: 73%;
  margin: 10px 0 130px;
  overflow: auto;
}


.table-data {
  color: #0D263B;
  text-align: left;
  vertical-align: center;
}

.signup-prompt {
  color: #FAFAFA;
}


.paginate_button {
  margin: 5px;
  color: #0D263B;
  font-weight: bold;
}

p {
  font-family: 'Open Sans';
  font-size: 16px;
}


.landing-page {
  text-align: center;
}

.landing-page-image {
  z-index: 0;
  width: 30%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0D263B;
  width: 3px;
  height: 3px;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: #0D263B;
}

::-webkit-scrollbar-button {
  background-color: #0D263B;
}

.delete-regret {
  margin: -57px 0 0 150px;
}

.star-required {
  font-size: 10px;
  color: red;
  font-weight: bold;
}

.error-msg, #confirm-purchase {
  color: red;
}

.cartTable,
.productList,
.previousOrderList {

  padding: 5px;
  margin-bottom: 100px
}

.sub-heading {
  margin: 0 auto;
  max-width: 60%;
  color: #0A0A0A;
}

.landing-page-btn {
  position: relative;
  z-index: 100;
  font-family: 'Orbitron';
  font-size: 32px;
  padding: 10px;
  margin: 40px 0 -85px;
  color: white;
  background-color: #0D263B;
}

.thumbnail {
  width: 200px;
  height: 200px;
}
